@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
@keyframes gradient-slow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-slow {
  background-size: 400% 400%;
  animation: gradient-slow 10s ease infinite;
}

.marquee-mask {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;

  mask-image: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}